*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
app/build.gradle.kts
app/google-services.json
app/keystore
core/utils/src/main/java/com/newpaper/somewhere/core/utils/value.kt
